@import url('../App.css');

nav {
    position: relative;
    width: 100%;
    padding: var(--lengthMd1) var(--lengthLg2) ;
    background-color: #FAFAFA;
    font-family: var(--font-poppins);
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 3px 7px -6px var(--text-color);
    color: var(--text-color);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline;
    text-decoration: none;
    list-style: none;
}

.left-nav {
    display: flex;
    align-items: center;
    flex-direction: row;    
}

.right-nav li{
    padding: 0 var(--lengthMd2);
}

.right-nav .__right-line{
    border-right: 2px solid #000;
}

.right-nav .__nav-btn{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    padding: var(--lengthSm2);
    transition: 0.5s ease;
}

.right-nav .__signin-btn{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    padding: var(--lengthSm2);
    margin-right: 10px;
    margin-left: -10px;
    transition: 0.5s ease;
}

.right-nav .__signup-btn{
    list-style: none;
    text-decoration: none;
    color: rgb(248, 248, 248);
    border: 1px solid transparent;
    background-color: var(--primary);
    padding: var(--lengthSm2);
    border-radius: 10px;
    transition: 0.5s ease;
}

.right-nav .__signup-btn:hover{
    background-color: var(--option2);
    box-shadow: 3px 3px 3px var(--darker_white);
    transition: 0.5s ease;
}

.right-nav .__nav-btn:hover,
.right-nav .__signin-btn:hover{
    background-color: #d4d0e0;
    box-shadow: 3px 3px 3px var(--darker_white);
    transition: 0.5s ease;
}