@import url('../App.css');

.Signin {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image:linear-gradient(55.67deg, rgba(72, 12, 168, 0.77) 2.7%, rgba(247, 37, 133, 0.77) 92.55%), url(../assets/signin-img.jpg);
    background-size: cover;
}

.Signin .landing-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding: var(--lengthLg1);
}

.Signin .form-signin {
    width: 50%;
    height: 80vh;
    margin-right: var(--lengthLg2);
    padding: var(--lengthLg2);
    background-color: #FAFAFA;
    border-radius: 10px;
}

.form-header{
    font-family: var(--font-poppins);
    font-size: 2rem;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: var(--lengthMd1);
}

.form-group .forms{
    display: flex;
    justify-content: center;
    margin-top: var(--lengthSm3);
    padding-top: var(--lengthSm3);
}

.form-group .forms input{
    font-family: var(--font-opensans);
    font-size: var(--lengthMd2);
    font-weight: 500;
    width: 90%;
    height: var(--lengthLg2);
    text-align: center;
    border: transparent;
    background-color: var(--darker_white);
    border-radius: 10px;
}

.form-group .forms input:focus{
    outline: none;
}

.signin-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--lengthLg1);
    font-family: var(--font-poppins);
    font-size: 14px;
}

.signin-btn p a{
    color: var(--text-color);
}

.signin-btn .btn-signin {
    padding: var(--lengthSm3) var(--lengthLg2);
    background-color: var(--primary);
    color: var(--darker_white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-poppins);
}

.border-sosmed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--lengthMd2);
    font-family: var(--font-opensans);
}

.signin-sosmed {
    display: flex;   
    grid-gap: 10px;
    justify-content: space-around;
    padding-top: var(--lengthMd1);
}

.signin-sosmed .sign-google{
    padding: var(--lengthSm2);
    padding-left: var(--lengthLg2);
    padding-right: var(--lengthLg2);
    background-color: var(--darker_white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: var(--font-opensans);
}

.redirect-to-daftar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--lengthMd2);
    font-family: var(--font-opensans);
    font-size: 12px;
}